body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Peddana', serif;
}

.title {
    font-size: 2.5em;
    font-weight: bolder;
    padding-left: 5%;
}

a {
    color: #0a1616;
}

img {
    width: 100%;
}